body {
  height: 100vh;
  background-color: gray;
  background-image: linear-gradient(to bottom,
            rgba(49, 154, 202, 0.61),
            rgba(49, 151, 36, 0.63));
}
.hello {
  font-size: 24px;
  text-align: center;
  display: inline-block;
  border: 1px dashed gold;
  width: 50%;
  align-items: center;
}
