body {
  background-image: url(images/hexagon.jpg);
  font-family: monospace;
  margin: 0px;
  border: 1px solid red;
}

.round {
height: 100px;
width: 200px;
border-radius: 10%;
background: gold;
}

.page {
  height: 100%;
  width: 600px;
  background: whitesmoke;
}

.footer {
  height: 200px;
}

ul {
  width: 200px;
  display: table-cell;
  list-style: none;
  text-align: left;
}

li {
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.menu_title {
  font-size: 20pt;
  font-weight: bold;
  margin-left: -20px;
  text-transform: uppercase;
}

.menu_subtitle {
  font-size: 16pt;
  margin-left: -10px;
  text-transform: uppercase;
}

.menu_item {
  font-size: 12pt;
  text-transform: lowercase;
  transition: all 0.2s;
}

.menu_item:hover {
  margin-left: 10px;
  //margin-top: 5px;
  //margin-bottom: 5px;
}

#running_string {
  width: 120px;
  display: table-cell;
  text-align: left;
  background: gold;
  margin: 50px;
  color: red;
}