body {
  background-image: url(images/hexagon.jpg);
  font-family: monospace;
  margin: 0px;
  border: 1px solid red;
}

.page {
  height: 100%;
  width: 600px;
  background: whitesmoke;
}

.footer {
  height: 200px;
}

ul {
  display: table-cell;
  list-style: none;
  text-align: left;
}

li {
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

.menu_title {
  font-size: 20pt;
  font-weight: bold;
  margin-left: -10px;
  text-transform: uppercase;
}

.menu_subtitle {
  font-size: 16pt;
  margin-left: -5px;
  text-transform: uppercase;
}

.menu_item {
  font-size: 12pt;
  text-transform: lowercase;
}

#running_string {
  width: 120px;
  display: table-cell;
  text-align: left;
  background: gold;
  margin: 20px;
  color: red;
}
